@import url('http://fonts.googleapis.com/css/famil==quicksand:400,500&subset=latin-ext');
body {
    padding: 100px;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
    text-align: center;
    font-family: 'quicksand', sans-serif;
}
ul {
    margin-left: -45px;

}
li {
    list-style: none;
    display: inline-block;
}